.btnjugar{
    position: relative;
    left: 350px;
    color: wheat;
    background-color: rgb(172, 190, 237);
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
    border-color: blanchedalmond;
    margin-top: -100px;

}
.titulo{
    margin-top: 125px;
}
.tic { font-size: 80px;
position: relative;
left: -400px;
font-style: normal;
font-weight: 700;
color: rgb(165, 253, 223);
}
.tac {
    font-size: 80px;
    position: relative;
    left: -300px;
    font-style: normal;
    font-weight: 700;
    color: rgb(244, 180, 245);
}
.toe {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    color: bisque;
    position: relative;
    left: -350px;
}

.x{
    width: 1.5em;
    height: 1em;
    background-color: rgb(2, 2, 2);
    display:inline-flex;
    align-items: center;
    
}
.o {
    width: 1.5em;
    height: 1em;
    background-color: rgb(2, 2, 2);
    display:inline-flex;
    align-items: center;
}
.oyx{
    margin-top: -285px;
    position: relative;
    left: 145px;

}
h1 {
    position: relative;
    left: 44px;
    color: antiquewhite;
    
}
body {
font-size: 50px;
width:100vw;
height: 100vh;
background-color: rgb(238, 167, 167);
color: #211d1d;
 font-family: 'Courier New', Courier, monospace;
margin: 0;
display: grid;
place-items: center;
overflow: hidden;
font-size: 20px;

}
/* aqui estoy haciendo las cajitas del gato*/
.game .cell  {
    width: 90px;
    height: 90px;
    font-size:  3rem;
    display: grid;
    place-items: center;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    /* position: relative;
    left: 50px;     */
}

.game {
    width: 275px;
    text-align: center;
    background-color: rgb(34, 34, 26);
    opacity: 0.76;
    background-image: url(images/juegofondo2.png);
    background-position: 1550px;
    position: relative;
    left: 150px; 
    margin-top: -300px;
    
}

.Resultado {
    position: relative;
    top: 10px;
    height: 1rem;
}

