body{
    background-image: url('images/game.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 600px;

    position: fixed;
    z-index: -100;

    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.titulo{
    color: rgb(211, 38, 133);
    font-size: 40px;
    font-weight: 700;
 position: relative;
 left: 350px;
}
.titulocont {
    color:rgb(211, 38, 133) ;
    font-size:30px ;
    font-weight: 700;
    position: relative;
    left: 390px;
}
.btncomenzar {
    margin-top: 300px;
    position: relative;
    left: 500px;
    background-color: rgb(222, 229, 230);
    color: tan;
    border-radius: 900px;
}

.audio1{
    position: relative;
    left: 850px;
    margin-top: 125px;
}