body{
    background-image: url('/images/fondo\ juego.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;

    position: fixed;
    z-index: -100;

    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.titulo{
    color: brown;
}
